<h2>Custom Metafeilds</h2>
<div class="metadata">
    <img src="{{ product.metafields.custom.custom_description_image | img_url: 'master' }}">
    <p>{{ product.metafields.custom.custom_description }}</p>
</div>